@import 'base/reset';
@import 'base/variables';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/base';

@import 'components/header';
@import 'components/footer';
@import 'components/section';

.box-covid-info {
    background: url('../images/bg-covid-info.jpg') center no-repeat;
    padding-top: 160px;
    padding-bottom: 156px;
    background-size: cover;
    .covid-info__inner {
        .banner-follow, .measures__title {
            text-align: center;
        }
        .measures__title {
            margin-top: 104px;
        }
        .measures__txt, .measures__note {
            text-align: center;
            color: #2e2e2e;
            @include max_768 {
                line-height: 1.75;
            }
        }
        .measures__txt {
            margin-top: 39px;
        }
        .measures__note {
            margin-top: 13px;
            span {
                background-image: linear-gradient(transparent 60%, rgb(255 203 0 / 10%) 60%);
            }
        }
        .plan__list {
            @include dlflex;
            margin-top: 67px;
            @include max_768 {
                flex-direction: column;
            }
            .plan {
                width: 100%;
                // height: 755px;
                padding: 10px;
                box-shadow: 7.5px 4.9px 29px 0 rgba(95, 82, 69, 0.11);
                background-color: #f7f2e9;
                @include min_769 {
                    width: 584px;
                    height: 755px;
                }
                &__inner {
                    border: solid 1px #dac7ac;
                    height: 100%;
                }
                &__icon, &__title {
                    text-align: center;
                }
                &__icon {
                    margin-top: 34px;
                }

                &__title {
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 1.33;
                    letter-spacing: 1.5px;
                    color: #715c43;
                    margin-top: 13px;
                    position: relative;
                    padding-bottom: 21px;
                    @include resizefont(20px, 40px);
                }
                .step__list {
                    padding-left: 83px;
                    padding-right: 34px;
                    margin-top: 38px;
                    .step__item {
                        line-height: 1.78;
                        position: relative;
                        border-bottom: 1px solid #5f52451a;
                        padding-bottom: 2.5px;
                        margin-top: 17px;
                        letter-spacing: -0.5px;
                        &::before {
                            content: attr(data-num);
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            left: -54px;
                            width: vw(35px);
                            height: vw(35px);
                            border: solid vw(2px) #e3a621;
                            font-size: 20px;
                            color: #e3a621;
                            border-radius: 50%;
                            @include dlflexcenter;
                            font-family: $ff-watchwordbold;
                            line-height: 1;
                            @include resizefont(12px, 24px);
                            @include min_769 {
                                width: 28px;
                                height: 28px;
                                border-width: 2px;
                            }
                        }
                        
                    }
                }
                &:first-of-type {
                    .plan__title {
                        background: url('../images/line.png') center bottom no-repeat;
                    }
                }
                &:last-of-type {
                    @include min_769 {
                        margin-left: 31px;
                    }
                    .plan__title {
                        background: url('../images/line_2.png') center bottom no-repeat;
                    }
                    .step__list {
                        margin-top: 75px;
                    }
                    .step__item {
                        &::before {
                            border-color: #90b041;
                            color: #90b041;
                        }
                    }
                }
            }
        }
    }
}

.box-information {
    padding-top: 143px;
    padding-bottom: 55px;
    .table-info {
        max-width: 993px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px #d7d7d7;
        margin-top: 74px;
        tr {
            border: 1px solid #d4d4d4;
            td {
                padding: vw(30px) 21px;
                @include min_769 {
                    padding: 21px;
                }
                &:first-of-type {
                    width: vw(167px);
                    background-color: #f7f2e9;
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: 1.2px;
                    color: #715c43;
                    padding-left: vw(30px);
                    @include resizefont(12px, 24px);
                    @include min_769 {
                        width: 244px;
                        padding-left: 72px;
                    }
                }
                &:last-of-type {
                    padding-left: 63px;
                    line-height: 1.89;
                }
            }
        }
    }
}

.box-greeting {
    padding-top: 103px;
    @include min_769 {
        background: url('../images/bg-text-greeting.png') center calc(100% - 91px) no-repeat;
        padding-bottom: 294px;
    }
    &__inner {
        @include dlflex;
        position: relative;
        @include max_768 {
            flex-direction: column;
            margin: 0 vw(-30px);
        }
        .support-health {
            // max-width: 935px;
            width: 100%;
            background-color: #f7f2e9;
            padding: 41px vw(20px) 40px vw(30px);
            @include min_769 {
                padding: 41px 245px 40px 41px;
                margin: 44px 309px 0 -40px;
            }
            @include max_768 {
                order: 1;
            }
            &__title {
                font-size: 40px;
                font-weight: bold;
                // line-height: 0.85;
                letter-spacing: -0.5px;
                color: #e4ad34;
                font-family: $ff-notoserifjp;
                @include resizefont(20px, 40px);
            }
            &__title-en {
                font-size: 24px;
                font-weight: bold;
                line-height: 1.42;
                letter-spacing: 1.2px;
                color: #715c43;
                font-family: $ff-notoserifjp;
                font-style: italic;
                margin-top: 14px;
                @include resizefont(15px, 30px);
            }
            &__txt {
                line-height: 1.89;
                margin-top: 31px;
            }
            .btn-more {
                max-width: vw(630px);
                margin-top: vw(70px);
                @include min_769 {
                    max-width: 253px;
                    margin-top: 34px;
                }
            }
        }
        .keikato__img {
            @include max_768 {
                // order: 0;
            }
            @include min_769 {
                position: absolute;
                z-index: 1;
                right: -40px;
                top: -135px;
            }
        }
    }
}

.box-feature {
    padding-top: 108px;
    background: url('../images/bg-feature.jpg') no-repeat;
    // background-attachment: fixed;
    position: relative;
    .our-three-commit {
        position: absolute;
        top: 34px;
        right: 247px;
    }
    .section__title {
        color: #fff;
    }
    .feature__inner {
        margin-top: 210px;
        .point {
            max-width: 1920px;
            margin: auto;
            &__inner {
                @include dlflex;
                @include max_768 {
                    flex-direction: column;
                }
            }
            &-1, &-2, &-3, &-4 {
                position: relative;
                &__img {
                    img {
                        width: 100%;
                    }
                }
                .point-content {
                    .point__title {
                        font-size: 30px;
                        font-weight: bold;
                        margin-left: 7px;
                        margin-top: 17px;
                        line-height: 1.67;
                        @include resizefont(15px, 30px);
                        span {
                            padding: 0 5px;
                            background-image: linear-gradient(transparent 62%, rgba(252, 223, 153, 0.5) 62%);
                            padding-bottom: 2px;
                        }
                    }
                    .point__txt {
                        line-height: 1.89;
                        padding-left: 15px;
                        width: 100%;
                        margin-top: 29px;
                        letter-spacing: -0.9px;
                    }
                }
            }
            &-1 {
                &__img {
                    @include max_768 {
                        margin-right: vw(30px);
                    }
                }
                .point-content {
                    color: #fff;
                    padding-left: vw(30px);
                    padding-top: vw(40px);
                    @include min_769 {
                        padding-left: 40px;
                        padding-top: 66px;
                    }
                    .point__title {
                    }
                    .point__txt {
                        max-width: 560px;
                        letter-spacing: 0.85px;
                    }
                    .btn-more {
                        color: #fff;
                        border-color: #fff;
                        margin-top: 32px;
                        font-family: $ff-primary;
                        &::after {
                            background: url('../images/arrow-icon2-w.png') no-repeat;
                        }
                        &:hover {
                            border-color: #715c43;
                            font-weight: bold;
                        }
                    }
                }
            }
            &-2 {
                margin-top: 132px;
                &__img {
                    // position: absolute;
                    // right: 0;
                    @include min_769 {
                        width: calc(50% + 83px);
                        margin-left: -91px;
                        order: 1;
                    }
                }
                .point-content {
                    z-index: 1;
                    // padding-right: 49.8%;
                    padding-left: 22.5%;
                    padding-top: 57px;
                    @include max_768 {
                        padding-left: vw(30px);
                        padding-top: vw(19px);
                        padding-right: vw(30px);
                    }
                    .point__num {
                        @include min_769 {
                            max-width: 527px;
                        }
                    }
                    .point__title {
                        color: #715c43;
                        @include min_769 {
                            max-width: 527px;
                        }
                    }
                    .point__txt {
                        @include min_769 {
                            max-width: 527px;
                        }
                    }
                    .btn-more {
                        margin-top: 35px;
                        font-family: $ff-primary;
                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
            &-3 {
                // padding: 44px 0 161px calc(50% - 14px);
                margin-top: 130px;
                &__img {
                    left: 0;
                    @include min_769 {
                        width: calc(50% + 395px);
                    }
                    img {
                        width: 100%;
                    }
                }
                .point-content {
                    z-index: 1;
                    // width: calc(50% + 16px);
                    // position: absolute;
                    // right: 0;
                    @include min_769 {
                        margin-left: -21.35%;
                        padding-top: 45px;
                    }
                    @include max_768 {
                        padding-left: vw(30px);
                        margin-top: vw(-15px);
                        padding-right: vw(30px);
                    }
                    .point__num {
                        @include min_769 {
                            max-width: 560px;
                        }

                    }
                    .point__title {
                        color: #715c43;
                        @include min_769 {
                            max-width: 560px;
                        }
                    }
                    .point__txt {
                        @include min_769 {
                            max-width: 560px;
                        }
                        letter-spacing: 0.9px;
                    }
                }
            }
            &-4 {
                // padding: 60px calc(50% - 14px) 202px 0;
                margin-top: 132px;
                &__img {
                    // position: absolute;
                    @include min_769 {
                        width: calc(50% - 13px);
                        order: 1;
                    }
                    img {
                        width: 100%;
                    }
                }
                .point-content {
                    // padding: 0 0 18% 45%;
                    z-index: 1;
                    padding-left: 22.5%;
                    padding-top: 60px;
                    // padding-right: 49.8%;
                    @include max_768 {
                        margin-top: vw(-35px);
                        padding-top: 0;
                        padding-left: vw(30px);
                        padding-right: vw(30px);
                    }
                    .point__num {

                    }
                    .point__title {
                        color: #715c43;
                    }
                    .point__txt {
                        @include min_769 {
                            max-width: 560px;
                        }
                    }
                }
            }
        }
    }
}

.box-service {
    background: url('../images/bg-service.png') center no-repeat;
    padding-bottom: 187px;
    @include min_769 {
        margin-top: 202px;
        padding-top: 244px;
    }
    .section__title {
        .section__title-jp {
            margin-left: vw(31px);
            position: relative;
            padding-left: vw(30px);
            @include min_769 {
                font-size: 30px;
                padding-left: 30px;
                margin-left: 31px;
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 3px;
                margin: auto;
                height: calc(100% - 1.8666666667vw);
                width: 1px;
                background-color: #715c43;
            }
        }
    }
    .service__list {
        @include dlflex;
        flex-wrap: wrap;
        margin-top: 82px;
        .service {
            width: 50%;
            text-align: center;
            margin-bottom: 41px;
            @include min_769 {
                width: 20%;
            }
            &__img {
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__name {
                font-size: 22px;
                font-weight: bold;
                line-height: 1.55;
                letter-spacing: 1.1px;
                color: #2e2e2e;
                margin-top: 12px;
                @include resizefont(15px, 30px);
            }
            &__name-en {
                font-size: 18px;
                font-weight: normal;
                line-height: 1.33;
                letter-spacing: 0.9px;
                color: #e3a621;
                display: block;
                font-family: $ff-watchwordregular;
                margin-top: 2px;
                @include resizefont(12px, 24px);
            }
        }
    }
}

.box-facilities {
    padding-bottom: 80px;
}

.box-calendar {
    padding-top: 80px;
    padding-bottom: vw(50px);
    @include min_769 {
        padding-bottom: 86px;
    }
    &__inner {
        @include dlflex;
        align-items: center;
        justify-content: space-between;
        @include max_768 {
            flex-direction: column;
            align-items: baseline;
        }
        .calendar-right {
            @include max_768 {
                margin-top: vw(60px);
                width: 100%;
            }
            .calendar__img {
                img {
                    width: 100%;
                }
            }
        }
    }
}

.box-appointment {
    margin-top: vw(100px);
    background: url('../images/bg-section_08.jpg') center no-repeat;
    background-size: cover;
    padding-bottom: vw(100px);
    padding-top: vw(100px);
    @include min_769 {
        margin-top: 204px;
        padding-bottom: 149px;
    }
    &__inner {
        @include dlflex;
        text-align: center;
        @include max_768 {
            flex-direction: column;
        }
        .appointment {
            &__item {
                width: 100%;
                // height: 421px;
                padding: vw(10px);
                box-shadow: 7.5px 4.9px 29px 0 rgba(95, 82, 69, 0.11);
                background-color: #f7f2e9f2;
                height: vw(450px);
                @include min_769 {
                    margin-top: -118px;
                    max-width: 585px;
                    padding: 10px;
                }
                .item-boder {
                    border: solid 1px #e3a621;
                    height: 100%;
                    padding: vw(30px) vw(50px) vw(33px);
                    @include min_769 {
                        padding: 40px 64px 47px;
                    }
                }
                & + .appointment__item {
                    @include min_769 {
                        margin-left: 30px;
                    }
                    @include max_768 {
                        margin-top: vw(53px);
                    }
                }
                &:last-of-type {
                    .appointment__txt {
                        margin-top: vw(42px);
                    }
                }
            }
            &__icon {
                height: vw(109px);
                @include dlflexcenter;
                @include min_769 {
                    height: 105px;
                }
            }
            &__title {
                font-size: 30px;
                font-weight: bold;
                line-height: 1.13;
                letter-spacing: 1.5px;
                color: #715c43;
                position: relative;
                margin-top: vw(24px);
                padding-bottom: vw(25px);
                @include resizefont(20px, 40px);
                @include min_769 {
                    margin-top: 24px;
                    padding-bottom: 25px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: vw(60px);
                    height: vw(3px);
                    background-color: #e3a621;
                    @include min_769 {
                        width: 50px;
                        height: 4px;
                    }
                }
            }
            &__txt {
                line-height: 1.81;
                letter-spacing: -0.6px;
                margin-top: vw(34px);
                @include min_769 {
                    margin-top: 23px;
                }
                @include min_769 {
                    line-height: 1.89;
                }
            }
        }
    }
}