.news-area {
    max-width: 1200px;
    width: 100%;
    height: 120px;
    padding: 0 33px 0 0;
    box-shadow: 7.5px 4.9px 29px 0 rgba(95, 82, 69, 0.11);
    margin: auto;
    &__inner {
        display: flex;
    }
    &__title {
        width: 205px;
        height: 120px;
        box-shadow: 0 0 57px 0 rgba(102, 102, 102, 0.08);
        background-color: #c38a4c;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        line-height: 0.85;
        letter-spacing: 2px;
    }
    .article {
        display: flex;
        align-items: center;
        &__date {
            font-size: 18px;
            line-height: 1.89;
            letter-spacing: 0.9px;
            color: #cc9240;
            padding-left: 103px;
        }
        &__title {
            font-size: 18px;
            line-height: 1.89;
            letter-spacing: 0.9px;
            padding-left: 47px;
            a {
                color: #2e2e2e;
            }
        }
        .btn-more {
            a {
                width: 122px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 1px #715c43;
                font-size: 18px;
                line-height: 1.89;
                letter-spacing: 0.9px;
                text-align: center;
                color: #715c43;
            }
        }
    }
}